---
type TitleProps = {
  text: string;
  dark: boolean;
  className?: string;
  mediumFont?: boolean;
};

const { text, dark, className, mediumFont } = Astro.props as TitleProps;
---

<h1
  data-animate-type="motion-safe:animate-fadeLeft"
  class={`font-bold uppercase tablet:text-8xl ${
    dark
      ? "text-black-300 drop-shadow-hugeDark text-5xl"
      : "text-white drop-shadow-huge text-lg"
  } ${mediumFont ? "desktop:text-big" : "desktop:text-huge"} ${className}`}
>
  {text}
</h1>
