---
import Layout from "../layouts/Layout.astro";
import Button from "../components/button/button.astro";
import Navigation from "../components/navigation";
import { mainNavigationItems } from "../components/navigation/definitions";
import Title from "src/components/title/title.astro";
import houseOne from "../assets/pictures/pht-01.png";
import houseTwo from "../assets/pictures/pht-02.png";
---

<Layout title="Dreams Incorporadora">
  <main>
    <Navigation client:load items={mainNavigationItems} logoNavigation="#top" />
		<header class="relative h-screen bg-header-image bg-no-repeat bg-100 pt-60 px-3 md:bg-header-desktop-image md:pt-80">
			<div class="max-w-7/10 mx-auto">
				<h1 class="text-center text-4xl text-white md:text-lg">
					O ponto de partida para a <strong>casa dos seus sonhos.</strong>
				</h1>
				<Button text="Entre em contato" link="#contact" className="block bg-orange-50 text-center text-white w-[170px] mx-auto p-2 mt-10" />
			</div>
		</header>

		<section class="py-32 max-w-8/10 mx-auto">
			<Title text="Quem somos" />
			<div class="flex justify-between gap-32 pt-24">
				<div class="relative z-0 before:content-[''] before:border before:border-black-300 before:w-[393px] before:h-[408px] before:absolute before:top-1/4 before:right-10 before:z-0">
					<img class="relative w-full max-w-[379px]" src={houseOne} >
					<img class="relative w-full max-w-[379px] ml-24 mt-11" src={houseTwo} >
				</div>
				<div class="w-[500px]">
					<p class="font-bold text-orange-300 mb-12 text-2xl">Estamos localizados na enigmática cidade de Florianópolis, também conhecida como “A ilha da magia”. Está categorizada como uma das melhores cidades do Brasil para morar, com um alto índice de desenvolvimento, proximidade à natureza e bairros seguros, ela é a queridinha de muitos brasileiros e estrangeiros, que a escolheram como lar. Vem investir com a gente e realizar seu sonho de viver nesse paraíso!</p>
					<p class="text-2xl text-black-300">Somos uma empresa focalizada em inovação e controle de qualidade, que utiliza métodos construtivos eficientes, com prazos de execução acelerados. Construimos sonhos! Ajudamos a tornar realidade o desejo de adquirir um imóvel diferenciado e único!</p>
				</div>
			</div>
		</section>
  </main>
</Layout>
