---
type FeaturedProps = {
  text: string;
};

const { text } = Astro.props as FeaturedProps;
---

<div class="my-12 px-12 py-9 border border-orange-300 max-w-8/10 mx-auto md:my-32 md:py-14 md:px-28">
  <p class="text-base text-center md:text-2xl">{text}</p>
</div>