---
import phone from "../../assets/icons/icon-telefone.svg";
import home from "../../assets/icons/icon-home.svg";
import email from "../../assets/icons/icon-email.svg";
---

<div
  class="max-w-8/10 mx-auto flex items-center gap-12 relative flex-col desktop:flex-row desktop:after:absolute after:bg-black-300 desktop:after:w-[900px] desktop:after:h-[535px] desktop:after:right-[-240px] desktop:after:top-[66px] after:z-[-1]"
>
  <div class="tablet:text-center">
    <h2
      class="text-2xl mb-10 uppercase font-bold text-black-300 md:text-5xl mt-[66px]"
    >
      Fale Consoco
    </h2>
    <form action="" method="post">
      <fieldset class="flex flex-col gap-6 justify-center w-[478px]">
        <label for="name" class="hidden">Nome</label>
        <input
          class="relative border-solid border-[1px] py-3 px-5 border-gray-300"
          type="text"
          id="name"
          name="name"
          placeholder="Nome"
          required
        />
        <label for="email" class="hidden">Email</label>
        <input
          class="relative border-solid border-[1px] py-3 px-5 border-gray-300"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <label for="phone" class="hidden">Telefone</label>
        <input
          class="relative border-solid border-[1px] py-3 px-5 border-gray-300"
          type="tel"
          id="phone"
          name="phone"
          placeholder="Telefone"
        />
        <label for="message" class="hidden">Mensagem</label>
        <textarea
          class="relative border-solid border-[1px] py-3 px-5 border-gray-300 w-full h-[143px]"
          name="message"
          id="message"
          placeholder="Mensagem"
          required></textarea>
        <button
          class="text-base font-bold block bg-black-300 border border-orange-300 py-4 text-center text-white duration-300 hover:bg-orange-300 hover:border-black-300 cursor-pointer"
          >Enviar</button
        >
      </fieldset>
    </form>
  </div>
  <div class="text-white bg-black-300 desktop:bg-transparent tablet:w-full">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3537.8830519885346!2d-48.51213278494175!3d-27.535092182863636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527470d7aaf826b%3A0x4d3572e8bdd0a188!2sSquare%20SC!5e0!3m2!1sen!2sus!4v1682432453134!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="absolute bottom-0 desktop:top-0 w-full max-w-[615px]"></iframe>
    <div class="desktop:pt-[422px] text-xs">
      <div class="flex gap-4 items-center flex-nowrap">
        <img src={home} alt="" />
        <div>
          <h4 class="font-bold">Endereço</h4>
          <p>
            Rod. José Carlos Daux 5500, Lagoa A Sala 315 - Saco Grande,
            Florianopolis - SC
          </p>
        </div>
      </div>
      <div class="flex flex-row gap-14 pt-6 items-center">
        <div class="flex flex-nowrap items-center gap-4">
          <img src={phone} alt="" />
          <div>
            <h4 class="font-bold">Telefone</h4>
            <p>48-3067-7957</p>
          </div>
        </div>
        <div class="flex flex-nowrap items-center gap-4">
          <img src={email} alt="" />
          <div>
            <h4 class="font-bold">E-Mail</h4>
            <p>gerencia@dreamsincorporadora.com.br</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
