---
import WhatsAppIcon from "../logos/whatsapp";
import InstagramIcon from "../logos/instagram";
---

<footer class="bg-black-300 p-10 mt-32">
  <div
    class="flex justify-between items-center text-white flex-col gap-4 md:flex-row max-w-8/10 mx-auto"
  >
    <span>&copy; Dreams Incorporadora</span>
    <div class="flex gap-4 flex-nowrap">
      <a target="_blank" href="#">
        <WhatsAppIcon className="hover:text-orange-300" />
      </a>
      <a target="_blank" href="https://www.instagram.com/dreamsincorporadora/">
        <InstagramIcon className="hover:text-orange-300" />
      </a>
    </div>
    <span
      ><a
        target="_blank"
        class="underline"
        href="https://www.behance.net/camilagguedes">CG</a
      > &
      <a target="_blank" class="underline" href="https://github.com/Davoo96"
        >DBR</a
      > Tech</span
    >
  </div>
</footer>
