---
import Carousel from "@components/carousel";
import Title from "@components/title/title.astro";
import location from "@icons/location.svg";
import Image from "astro/components/Image.astro";

interface CarouselProps {
  slides: { src: string; name: string }[];
  address: string;
}

const { slides, address } = Astro.props as CarouselProps;
---

<div class="flex items-center flex-col gap-9 tablet:gap-20">
  <Title text="Plantas" mediumFont dark />
  <Carousel isDarkBackground client:load slides={slides} id="plants" />
  <div class="max-w-8/10 mx-auto">
    <Image
      src={location}
      alt="icone de localização"
      class="block mx-auto my-0 tablet:inline-block"
    />
    <p
      class="inline-block text-base text-center tablet:text-2xl text-white mt-4 desktop:mt-0 tablet:ml-6"
    >
      {address}
    </p>
  </div>
</div>
